@model IEnumerable<Gamers_Hub.Models.GameDto>

@{
    ViewBag.Title = "List";
}

<h1>Game List</h1>

<div class="container">
    @foreach (var game in Model)
    {
<div class="game">
    <div class="details">
        <h2 class="GameName"><a href="/Game/Details/@game.GameID">@game.GameName</a></h2>
        <p class="gameID">Game ID: @game.GameID</p>
        <p class="description">Description: @game.Description</p>
        <p class="year">Release Year: @game.ReleaseYear</p>
        <p class="price">Price: @game.Price</p>
        <p class="genres"><a href="/Genre/Details/@game.GenreID">Genre: @game.GenreName</a></p>
    </div>
</div>}

</div>
<div class="button-container">

    <a class="button-add" href="/Game/New">New Game</a>
    <a class="button-back" href="/">BACK</a>
</div>


<style>
    h1 {
        text-align: center;
        margin-top: 30px;
        color: #444;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
        padding-right: 30px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .game {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }


    .details {
        flex: 1;
        color: #333;
    }

    .GameName {
        font-size: 24px;
        margin: 0 0 10px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
    }

    .button-add {
        padding: 10px 20px;
        background-color: #f44336;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

  .button-add:hover {
        background-color: #d32f2f;
     }

    .button-back {
        padding: 10px 20px;
        background-color: #2196f3;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 20px;
    }

   .button-back:hover {
        background-color: #1976d2;
    }
</style>

